{{>header}}
  <div class="about">
    <img class="about--portrait" src="/img/me.png" alt="{{name}}" />
    <p class="about--text" >This site was created by Gaurav Mendse as a part of Andrew Mead's tutorial on Advanced Nodejs concepts. It uses data from mapbox.com and weatherstack.com</p>
  </div>
  
  
{{>footer}} 