{{>header}}
{{!-- <p>{{text}}</p> --}}
<div class="row">
  <h2>Forecast data for your location</h2>
  <p>On the Weather page, enter desired location in the input field and click on the Search button.</p>
</div>

<div class="row">
  <h2>Forecast data for multiple locations</h2>
  <p>To get multiple results on your entered location for near matching results, go to Weather+ page, enter desired location in the input field and click on the Search button.</p>
</div>

<div class="row">
  <h2>Forecast in JSON format</h2>
  <p>To get the forecast in JSON format, use this path <a href="https://garyd-weather-app.herokuapp.com/weather?address=Amravati">https://garyd-weather-app.herokuapp.com/weather?address=Amravati</a> and replace the value 'Amravati' with your desired location name.</p>
</div>


{{>footer}}